<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include("header") %>
        <h2>Available Course</h2>

        <input type = "text" id="name" />
        <button onclick="">Add</button>
        <ul id = "list">

        </ul>
        <script>
            async function loadCourse(){
                const res = await fetch();
                const data = res.json();
            }
        </script>
    </body>
</html>