<!DOCTYPE html>
<html>
    <head>  
        <title><%= title %></title>
    </head>
    <body>
        <% include ("header") %>
        <h1>Service Page</h1>
        <p>We provide the best service for our students</p>
    </body>
</html>